// Colors
$white: #ffffff;
$black: #000000;
$darkGray: #333333;
$gray: #f5f5f5;
$lightGray: #fafafa;
$mediumGray: #e6e6e6;
$patternBackground: #ecdc98;

// Sizes
$footerHeight: 50px;
$headerHeight: 80px;
